@model HelloVM
@{
    ViewBag.Title = "Домашняя страница";
}

<h1>Hello from View!</h1>
<h1>Message: @Model.Message</h1>
<h2>До звонка осталось @Model.DoZvonka минут</h2>

@section Header{
    <a class="p-2 text-dark" href="#">Тест</a>

}

